<div class="ui fixed inverted menu">
  <div class="ui container">
    <a href="#" class="header item">
      <img class="logo" src="logo-02.png">
      Project Name
    </a>
    <a href="/" class="item">Home</a>
    <div class="ui simple dropdown item">
      Dropdown <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="#">Link Item</a>
        <a class="item" href="#">Link Item</a>
        <div class="divider"></div>
        <div class="header">Header Item</div>
        <div class="item">
          <i class="dropdown icon"></i>
          Sub Menu
          <div class="menu">
            <a class="item" href="#">Link Item</a>
            <a class="item" href="#">Link Item</a>
          </div>
        </div>
        <a class="item" href="#">Link Item</a>
      </div>
    </div>
    <div class="right menu">
      <div class="item">
        <div class="ui transparent inverted icon input">
          <i class="search icon"></i>
          <input type="text" placeholder="Search">
        </div>
      </div>
      <div class="ui simple dropdown item">Login<i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="/profile"><i class="user circle icon"></i> Profile</a>
          <div class="divider"></div>
          <a class="item" href="#"><i class="id card outline icon"></i> Create Business card</a>
          <a class="item" href="#"><i class="file alternate icon"></i> Create Resume</a>
          <div class="divider"></div>
          <a class="item" href="#"><i class="sign-out icon"></i> Log out</a>
        </div>
      </div>

    </div>
  </div>
</div>
