
  <div class="card">
    <div class="image">
      <img src="https://semantic-ui.com/images/avatar2/large/matthew.png">
    </div>
    <div class="content">
      <div class="ui small header">Matt Giampietro</div>
      <div class="meta">
        <a>Friends</a>
      </div>
    </div>
    <div class="extra content">
      <span>
        <i class="map marker alternate icon"></i>
        ARIT RMUTT
      </span>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="https://semantic-ui.com/images/avatar2/large/molly.png">
    </div>
    <div class="content">
      <div class="ui small header">Molly</div>
      <div class="meta">
        <span class="date">Coworker</span>
      </div>
    </div>
    <div class="extra content">
      <span>
        <i class="map marker alternate icon"></i>
        MIT
      </span>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="https://semantic-ui.com/images/avatar2/large/elyse.png">
    </div>
    <div class="content">
      <div class="ui small header">Elyse</div>
      <div class="meta">
        <a>Coworker</a>
      </div>
    </div>
    <div class="extra content">
      <span>
        <i class="map marker alternate icon"></i>
        No where
      </span>
    </div>
  </div>

    <div class="card">
      <div class="image">
        <img src="https://semantic-ui.com/images/avatar2/large/matthew.png">
      </div>
      <div class="content">
        <div class="ui small header">Matt Giampietro</div>
        <div class="meta">
          <a>Friends</a>
        </div>
      </div>
      <div class="extra content">
        <span>
          <i class="map marker alternate icon"></i>
          ARIT RMUTT
        </span>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="https://semantic-ui.com/images/avatar2/large/molly.png">
      </div>
      <div class="content">
        <div class="ui small header">Molly</div>
        <div class="meta">
          <span class="date">Coworker</span>
        </div>
      </div>
      <div class="extra content">
        <span>
          <i class="map marker alternate icon"></i>
          MIT
        </span>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="https://semantic-ui.com/images/avatar2/large/elyse.png">
      </div>
      <div class="content">
        <div class="ui small header">Elyse</div>
        <div class="meta">
          <a>Coworker</a>
        </div>
      </div>
      <div class="extra content">
        <span>
          <i class="map marker alternate icon"></i>
          No where
        </span>
      </div>
    </div>


      <div class="card">
        <div class="image">
          <img src="https://semantic-ui.com/images/avatar2/large/matthew.png">
        </div>
        <div class="content">
          <div class="ui small header">Matt Giampietro</div>
          <div class="meta">
            <a>Friends</a>
          </div>
        </div>
        <div class="extra content">
          <span>
            <i class="map marker alternate icon"></i>
            ARIT RMUTT
          </span>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="https://semantic-ui.com/images/avatar2/large/molly.png">
        </div>
        <div class="content">
          <div class="ui small header">Molly</div>
          <div class="meta">
            <span class="date">Coworker</span>
          </div>
        </div>
        <div class="extra content">
          <span>
            <i class="map marker alternate icon"></i>
            MIT
          </span>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="https://semantic-ui.com/images/avatar2/large/elyse.png">
        </div>
        <div class="content">
          <div class="ui small header">Elyse</div>
          <div class="meta">
            <a>Coworker</a>
          </div>
        </div>
        <div class="extra content">
          <span>
            <i class="map marker alternate icon"></i>
            No where
          </span>
        </div>
      </div>
