<% include ../partials/head %>

<body>
  <% include ../partials/topbar %>

  <div class="ui  container" style="padding:6rem 1rem 1rem 1rem;">
    <div class="ui stackable two column grid container">

      <div class="column five wide">
        <div class="row">
          <img class="ui medium rounded image" src="https://semantic-ui.com/images/wireframe/square-image.png">
          <h2 class="ui dividing header">
            Account Settings
            <div class="sub header">Manage your account settings and set e-mail preferences.</div>
          </h2>

          <h2 class="ui dividing header">
            Expertise
            <div class="sub header ui list">

              <li>Benefits
                <ul>
                  <li>Use Anywhere</li>
                </ul>
              </li>

            </div>
          </h2>


          <h2 class="ui dividing header">
            Skill
            <div class="sub header">
              <a class="ui basic label">Basic</a>
              <a class="ui basic label">Basic</a>
              <a class="ui basic label">Basic</a>
              <a class="ui basic label">Basic</a>
              <a class="ui basic label">Basic</a>
            </div>
          </h2>

        </div>
      </div>

      <div class="column eleven wide">
        <div class="row">
          <h2 class="ui header">
            Praphan Prathumwan
            <div class="sub header">Web developer</div>
          </h2>
          <h2 class="ui sub header ">Work location</h2>
          <div class="ui large horizontal divided list">
            <div class="item">
              ฝ่ายพัฒนาและเผยแพร่เว็บไซต์
            </div>
            <div class="item">
              สำนักวิทยบริการและเทคโนโลยีสารสนเทศ
            </div>
          </div>
          <p>39 หมู่ที่ 1 ตำบลคลองหก อำเภอคลองหลวง จังหวัดปทุมธานี 12110</p>

          <h2 class="ui sub header">Work contact</h2>
          <div class="ui large horizontal divided list">
            <div class="item">
              <i class="phone icon"></i> 02-549-xxxx
            </div>
            <div class="item">
              <i class="envelope icon"></i> praphan.eng@gmail.com
            </div>
          </div>

          <h2 class="ui sub header">Follow me</h2>
          <div class="ui mini horizontal divided list">
            <div class="item">
              <a class="ui basic image label">
                <img src="f_logo_RGB-Blue_58.png">Facebook
              </a>
            </div>

            <div class="item">
              <a class="ui basic image label">
                <img src="glyph-logo_May2016.png">Instagram
              </a>
            </div>

            <div class="item">
              <a class="ui basic image label">
                <img src="Twitter_Social_Icon_Rounded_Square_Color.png">Twitter
              </a>
            </div>

            <div class="item">
              <a class="ui basic image label">
                <img src="LINE_APP.png">Line
              </a>
            </div>

          </div>

          <div class="ui pointing secondary menu">
            <a class="item active" data-tab="first">Successful work</a>
            <a class="item" data-tab="second">Research</a>
            <a class="item" data-tab="third">Education</a>
            <a class="item" data-tab="Fourth">Experience</a>
          </div>

          <div class="ui link card">
            <div class="content">
              <div class="header">Cute Dog</div>
              <div class="meta">
                <span class="category">Animals</span>
              </div>
              <div class="description">
                <p>Text messaging, or texting, is the act of composing and sending electronic messages, typically consisting of alphabetic and numeric characters</p>
              </div>
            </div>
            <div class="extra content">
              <div class="right floated author">
                <a href="/portforio"><i class="linkify icon"></i> Read more</a>
              </div>
            </div>
          </div>
          <div class="ui link card">
            <div class="content">
              <div class="header">Cute Dog</div>
                <span class="category">Animals</span>
                <div class="meta">
              </div>
              <div class="description">
                <p>Text messaging, or texting, is the act of composing and sending electronic messages, typically consisting of alphabetic and numeric characters</p>
              </div>
            </div>
            <div class="extra content">
              <div class="right floated author">
                <i class="images icon"></i> view gallery
              </div>
            </div>
          </div>
          <div class="ui link card">
            <div class="content">
              <div class="header">Cute Dog</div>
              <div class="meta">
                <span class="category">Animals</span>
              </div>
              <div class="description">
                <p>Text messaging, or texting, is the act of composing and sending electronic messages, typically consisting of alphabetic and numeric characters</p>
              </div>
            </div>
            <div class="extra content">
              <div class="right floated author">
                <i class="images icon"></i> view gallery
              </div>
            </div>
          </div>
          <div class="ui link card">
            <div class="content">
              <div class="header">Cute Dog</div>
              <div class="meta">
                <span class="category">Animals</span>
              </div>
              <div class="description">
                <p>Text messaging, or texting, is the act of composing and sending electronic messages, typically consisting of alphabetic and numeric characters</p>
              </div>
            </div>
            <div class="extra content">
              <div class="right floated author">
                <i class="images icon"></i> view gallery
              </div>
            </div>
          </div>
          <div class="ui link card">
            <div class="content">
              <div class="header">Cute Dog</div>
              <div class="meta">
                <span class="category">Animals</span>
              </div>
              <div class="description">
                <p>Text messaging, or texting, is the act of composing and sending electronic messages, typically consisting of alphabetic and numeric characters</p>
              </div>
            </div>
            <div class="extra content">
              <div class="right floated author">
                <i class="images icon"></i> view gallery
              </div>
            </div>
          </div>


        </div>
      </div>


    </div>
  </div>

  <% include ../partials/footer %>
</body>

</html>
