<div class="ui breadcrumb">


  <a target="_self" href="http://127.0.0.1:8080/" class="section">หน้าแรก</a>
  <span class="divider">/</span>
    <a href="https://www.arch.rmutt.ac.th/?tag=%E0%B8%AA%E0%B8%B5%E0%B8%9B%E0%B8%A3%E0%B8%B0%E0%B8%88%E0%B8%B3%E0%B8%84%E0%B8%93%E0%B8%B0-%E0%B8%A1%E0%B8%AB%E0%B8%B2%E0%B8%A7%E0%B8%B4%E0%B8%97%E0%B8%A2%E0%B8%B2%E0%B8%A5%E0%B8%B1%E0%B8%A2%E0%B8%A3"class="section">หน้าของฉัน</a>
  <span class="divider">/</span>
  <div class="active section">ชื่องานวิจัย</div>
</div>

<h2 class="ui header"style = "font-family: 'Sarabun', sans-serif;">
  ชื่องานวิจัย
  <div class="sub header">2556 <br>
    <div class="ui horizontal divider">
    รายละเอียดงานวิจัย
    </div>
<p> เนื้อเรื่องของวิทยานิพนธ์ ภาคนิพนธ์ โดยทั่วไปที่นิยมกันอย่างแพร่หลายประกอบ ด้วยบทต่างๆ 5 บท คือ
บทที่ 1   บทนำ
บทที่ 2   วรรณกรรมที่เกี่ยวข้อง
บทที่ 3   วิธีดำเนินการวิจัย
บทที่ 4   ผลการวิเคราะห์ข้อมูล
บทที่ 5   สรุปผลการวิจัย อภิปรายผล และข้อเสนอแนะ2556</p></div>
</h2>
<img class="ui fluid image underspace" src="/image/07.jpg">
<center>
  <img class="ui big image underspace" src="/image/07.jpg">
  <img class="ui big image underspace" src="/image/07.jpg">
  <img class="ui big image underspace" src="/image/07.jpg">
  <img class="ui big image underspace" src="/image/07.jpg">
  <img class="ui big image underspace" src="/image/07.jpg">
</center>
