<div class="ui breadcrumb">


  <a target="_self" href="http://127.0.0.1:8080/" class="section">หน้าแรก</a>
  <span class="divider">/</span>
    <a href="https://www.arch.rmutt.ac.th/?tag=%E0%B8%AA%E0%B8%B5%E0%B8%9B%E0%B8%A3%E0%B8%B0%E0%B8%88%E0%B8%B3%E0%B8%84%E0%B8%93%E0%B8%B0-%E0%B8%A1%E0%B8%AB%E0%B8%B2%E0%B8%A7%E0%B8%B4%E0%B8%97%E0%B8%A2%E0%B8%B2%E0%B8%A5%E0%B8%B1%E0%B8%A2%E0%B8%A3"class="section">หน้าของฉัน</a>
  <span class="divider">/</span>
  <div class="active section">ชื่อโครงการ</div>
</div>

<h2 class="ui header">
  ชื่อโครงการ
  <div class="sub header"> <br>มทร.ธัญบุรี ร่วมสืบสานประเพณีไทย นำนักศึกษาชั้นปีที่ 1 แห่เทียนพรรษา เพื่อให้นักศึกษา เห็นความสำคัญ และมีส่วนร่วมในกิจกรรมวันอาสาฬหบูชาและวันเข้าพรรษา</div>
</h2>
<img class="ui fluid image underspace" src="/image/07.jpg">
<p>เมื่อเวลา 10.00 น. วันที่ 12 กรกฏาคม 2562 มหาวิทยาลัยเทคโนโลยีราชมงคล ธัญบุรี จัดกิจกรรม แห่เทียนพรรษา ประจำปีการศึกษา 2562 โดยมี ผู้ช่วยศาสตราจารย์ ณัฐ แก้วสกุล รักษาการผู้อำนวยการกองพัฒนานักศึกษา คณาจารย์ เจ้าหน้าที่ และนักศึกษา เข้าร่วม</p>
<p>โดยขบวนแห่เทียนพรรษา ของ มหาวิทยาลัยเทคโนโลยีราชลงคล ธัญบุรี เริ่มตั้งขบวนที่ บริเวณ หอพระพิริยมงคล พระประจำมหาวิทยาลัย จากนั้น แห่ไปที่วัดหว่านบุญ อำเภอคลองหลวง จังหวัดปทุมธานี ซึงในขบวนมีการตกแต่งรถแห่เทียนอย่างสวยงาม
ส่วนผู้เข้าร่วมภายในขบวนแห่เทียน เป็นนักศึกษาชั้นปีที่ 1 ของมหาวิทยาลัย
เมื่อขบวนเดินทางมาถึง พระอุโบสถวัดหว่านบุญ ขบวนแห่เทียนพรรษา ได้วนรอบพระอุโบสถ 3 รอบ จากนั้น ได้นำพานพุ่ม ที่มีสิ่งของจำเป็นสำหรับพระภิกษุสงฆ์ นำไปถวาย พร้อมกับการถวายเทียนจำนำพรรษาในครั้งนี้ด้วย</p>
<p>ด้านผู้ช่วยศาสตราจารย์ ณัฐ แก้วสกุล รักษาการผู้อำนวยการกองพัฒนานักศึกษา กล่าวว่า สำหรับกิจกรรมแห่เทียนพรรษา ประจำปี 2562 ในครั้งนี้ มีวัตถุประสงค์เพื่อให้นักศึกษา เห็นความสำคัญ และมีส่วนร่วมในกิจกรรมวันอาสาฬหบูชาและวันเข้าพรรษา
เป็นการส่งเสริมพระพุทธศาสนาและรู้คุณค่าขนบธรรมเนียมประเพณีไทยที่มีมาแต่โบราณ รวมถึงเพื่อให้นักศึกษาสามารถปฏิบัติตนตามพิธีกรรมทางพระพุทธศาสนา และนำหลักธรรมมาประยุกต์ใช้ในชีวิตประจำวันได้อย่างมีความสุข</p><br>
<center>
  <img class="ui big image underspace" src="/image/07.jpg">
  <img class="ui big image underspace" src="/image/07.jpg">
  <img class="ui big image underspace" src="/image/07.jpg">
  <img class="ui big image underspace" src="/image/07.jpg">
  <img class="ui big image underspace" src="/image/07.jpg">
</center>
