<div class="ui breadcrumb">


  <a target="_self" href="http://127.0.0.1:8080/" class="section">หน้าแรก</a>
  <span class="divider">/</span>
   <a href="http://127.0.0.1:8080/profile"class="section">หน้าของฉัน</a>
  <span class="divider">/</span>
  <div class="active section">ชื่อโครงการ</div>
</div>

<h2 class="ui header" style="font-family: 'Sarabun', sans-serif;">ชื่อโครงการ</h2>
  <div class="sub header">16 สิงหาคม 2556 | ณห้องประชุม1234อาคาร2
  <br>
    <div class="ui horizontal divider">
    รายละเอียดงานโครงการ
    </div>
    <p> เนื้อเรื่องของวิทยานิพนธ์ ภาคนิพนธ์ โดยทั่วไปที่นิยมกันอย่างแพร่หลายประกอบ ด้วยบทต่างๆ 5 บท คือ
    บทที่ 1   บทนำ
    บทที่ 2   วรรณกรรมที่เกี่ยวข้อง
    บทที่ 3   วิธีดำเนินการวิจัย
    บทที่ 4   ผลการวิเคราะห์ข้อมูล
    บทที่ 5   สรุปผลการวิจัย อภิปรายผลและข้อเสนอแนะ</p>

<img class="ui fluid image underspace" src="/image/07.jpg">
<center>
  <img class="ui big image underspace" src="/image/07.jpg">
  <img class="ui big image underspace" src="/image/07.jpg">
  <img class="ui big image underspace" src="/image/07.jpg">
  <img class="ui big image underspace" src="/image/07.jpg">
  <img class="ui big image underspace" src="/image/07.jpg">
</center>
